@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/*  */
a {
    /* 부모태그 상속 */
    color: inherit;
    /* 밑줄 X */
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common */
.wrap {
    font: 15px "Noto Sans KR", sans-serif;
}

/* header */
header {
    width: 100%;
    /* 포지션 고정, 우선순위 100 */
    position: fixed;
    z-index: 100;
}

header .inner-header {
    /* header 100%에 대한 92% */
    /* 제일 큰 박스 */
    width: 92%;
    height: 120px;
    margin: 0 auto;
    /* flex : space-beetween = 92%에 대한 동일한 간격 */
    /* flex (align-items) : 로고사진, welcome, menu 중앙배치 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* flex: 1:4:1 ( 92%에 대한 비율 ) */

header .inner-header .logo {

    flex: 1;

}

header .inner-header .logo a {
    /* 로고 사진을 감싸는 박스 */
    display: block;
    width: 100%;
}

header .inner-header .logo a img {
    /* 로고 사진 */
    height: 60px;
}

header .inner-header .intro-text {
    flex: 4;
    /* 로고와 간격 벌리고, 대문자 설정 */
    margin-left: 40px;
    text-transform: uppercase;
    color: #fff;
}

header .inner-header .menu-open {
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    /* MENU와 아이콘이 단차가 안맞을 때 큰 박스 중앙정렬 */
    /* flex-end = 박스의 맨 끝으로 보내기 */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .inner-header .menu-open .lnr-menu {
    /* 햄버거 메뉴 설정 */
    font-size: 33px;
    margin-left: 15px;
}

/* menu navigation bar */
header .gnb {
    display: none;
}

/* //header */


/* section visual */
section.visual .slide li{
    /* //Scroll down 까지 */
    width: 100%;
    height: 100vh;
    background: #222;
    /* li의 박스보다 사진이 넘침 */
    /* absolute의 기준점 relative */
    overflow: hidden;
    position: relative;
}

section.visual .slide li img {
    width: 100%;
    /* 애니메이션 사용 */
    position: absolute;
    left: 0;
    top: 0;
}

section.visual .slide li .txt{
    font-size: 18px;
    color: #fff;
    /* 중앙배치 정렬 */
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 그림자: 가로 세로 블러 효과 */
    text-shadow: 3px 3px 5px rgba(0,0,0, 0.8);
}

section.visual .slide li .txt h3 {
    font-size: 64px;
    margin: 30px 0;
    line-height: 1.3;
    font-weight: 700;
}

section.visual .slide li .txt a span {
    font-size: 14px;
    margin-left: 5px;
}

section.visual .slide li .scroll {
    /* scroll down 위치 */
    position: absolute;
    left: 50px;
    bottom: 10%;
    /* scroll down 박스 돌리기 */
    transform: rotate(-90deg);
    color: #ccc;
    font-size: 14px;
    font-weight: 700;
}
/* //section visual */


/* section contents */
section.contents {
    background: #1b1b1b;
    padding: 120px 0;
}

/* section contents > .main-text */
section.contents .main-text{
    width: 1170px;
    /* 중앙정렬 */
    margin: 0 auto;
    font-size: 25px;
    color: #fff;
    /* h3, p 자리 배치 */
    display: flex;
    /* 이미지 포지션 설정을 위한 relative */
    position: relative;
}

/* 박스 안에 있는 text 두 박스 */
/* 1 : 1.5의 비율 */
section.contents .main-text h3{
    flex: 1;
    font-weight: 700;
    line-height: 1.2;
}

section.contents .main-text p {
    flex: 1.5;
    line-height: 1.4;
}

section.contents .main-text p span {
    color: #999;
    /* 아래로 떨구기 */
    display: block;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}

/* 이미지 만들기 */

section.contents .main-text::before{
    content: '';
    background: #ffec03;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absoulte;
    left: 70px;
    top: 130px;
}

section.contents .main-text::after{
    content: '”';
    font-size: 300px;
    position: absolute;
    left: 0;
    top: 50px;
}